/*
body {
    background-color:#222222;
    color:#FFFFFF;
    margin:0px;
}
*/
.visible {
    visibility: visible;
}
.hidden {
    visibility: hidden; 
}
.settings {
    top: 27px;
    right:23px;
    position: absolute;
}
.cart {
    right:25px;
    top:14px;
    position: absolute;
}
.settings:hover {
    opacity: .7;
    cursor:pointer;
}
.settingsButton {
    margin-bottom:1px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color:#000000;
    background-color:#CCCCCC;
}
.productButton {
    margin-bottom:1px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    color:#EEEEEE;
    background-color:#0a6d01;
}
@media screen and (min-height: 800px) {
    .settingsButton {
        font-size: 30px;
    }
}
@media screen and (max-height: 400px) {
    .settingsButton {
        font-size: 20px;
    }
}
.settingsButton:hover {
    opacity: .7;
    cursor:pointer;
}
#settingsMenu {
    width: 100%;
    left:0px;
    top:85px;
    position: fixed;
    height: auto;
}
.itemOld {
    padding:20px;
    font-size: 25px;
    font-family: Arial, sans-serif;
    border:2px solid #222222;
    color:#FFFFFF;
    background-color:#000000;
    width: calc(100% - 44px);
    height: auto;
    margin-top:-1px;
    left:0px;
} 
.item {
    font-size: 25px;
    font-family: Arial, sans-serif;
    color:#FFFFFF;
    background-color:#000000;
    width: 100%;
    left:0px;
} 
.item:hover {
    opacity: .7;
    cursor:pointer;
}
.itemSelected {
    font-size: 25px;
    font-family: Arial, sans-serif;
    color:#FFFF00;
    background-color:#095a02;
    width: 100%;
    height: 90px;
    left:0px;
    position: relative;
} 
.greenBox {
    width: 100%;
    height: 100%;
    background-color: #00FF00;
}
.itemDollars {
    float: left;
    position: relative;
}
.itemSelectors {
    background-color:#111111;
    left:0px;
    padding-top:10px;
    padding-bottom:10px;
    width: 100%;
    position:relative;
    color: #BBBBBB;
    font-size: 12px;
    text-align: right;
    text-shadow: 1px 1px #000000;
}
.itemRemove {
    height: 60px;
    padding: 10px;
    position:relative;
    color:#FFFFFF;
}
.itemRemove:hover {
    opacity: .7;
    cursor:pointer;
}
.price {
    top: -10px;
    position: relative;
    float: left;
    width: auto;
}
.input {
    background-color: #333333;
    top: 50px;
    left:0px;
    position: fixed;
    width:100%;
    z-index: 100;
}
#indexSelector {
    width:100%;
    position:absolute;
    margin-top:12px;
    margin-left:10px;
}
#quantitySelector {
    margin-left:3px;
}
.height1px {
    margin-top: 1px;
    height: 1px;
}
.menu {
    width: 100%;
    left:0px;
    margin-top: 70px;
    margin-bottom: 160px;
}
.bg-neogreen {
    background-color: #00FF00;
}
#settingsMenu {
    margin-top: 60px;
}
.inputItem {
    font-size: 20px;
    width:calc(100% - 30px);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #222222;
}
.title {
    position: absolute;
    font-size: 25px;
    top: 20px;
    left: 15px;
}
.total {
    font-family: Arial, sans-serif;
    font-size: 20px;
    position: fixed;
    bottom:0px;
    padding: 10px;
    width: 100%;
    background-color: #333333;
    height: auto;
}
@media screen and (min-width: 1000px) {
    .total {
        font-size: 20px;
    }
}
@media screen and (max-width: 700px) {
    .total {
        font-size: 15px;
    }
}
.totalItems {
    color:#CCCCCC;
    font-weight:bolder;
    left:10px;
    text-align: right;
    position: absolute;
}
.totalDollars {
    color:#CCCCCC;
    font-weight:bolder;
    right: 0px;
    text-align: right;
    position: relative;
}
.taxLabel {
    font-size: 9px;
}
#indexSelection {
    top:0px;
    position: relative;
    float: right;
}
#quantitySelection {
    top:0px;
    position: relative;
    float: right;
}
.selectionLabel {
    position:relative;
    margin-left: 5px;
}
.lastPurchase {
    margin-left: -55px;
    font-size:14px;
    bottom:11px;
    position: absolute;
}
#lastPurchaseDays {
    margin-left:-45px;
    font-size:20px;
    top:2px;
    position:absolute;
}
.lastPurchaseDays {
    margin-top:20px;
    font-size:30px;
}
.taxLabel {
    margin-left: -18px;
    font-size:17px;
    top:3px;
    position: absolute;
}
.aisleLabel {
    margin-left: -18px;
    font-size:17px;
    top:0px;
    position: absolute;
}
.inCartIcon {
    top:8px;
    position:relative;
}
#tax {
    margin-top:12px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-180 {
    margin-top: 180px;
}
.mt-200 {
    margin-top: 200px;
}
.mt-600 {
    margin-top: 600px;
}
.mt-650 {
    margin-top: 650px;
}
.mt-850 {
    margin-top: 850px;
}
select {
    margin-top:8px;
}
#select {
    top:-2px;
    position: relative;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
}
.flex-container > div {
    width: 17%;
    text-align: center;
}
/* .flex-container > #aisle {
    width: 32%;
    text-align: center;
} */
.itemTitle {
    margin-right:55px;
}